:root {
    --background: #f4f4f4;
    --helper: #ffa3a5 ;
    --moderator: #ffb3f2 ;
    --headmoderator: #ce76ff ;
    --administrator: #a421ff ;
    --headerText: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

header {
    background-color: #333;
    color: var(--headerText);
    padding: 10px 0;
    text-align: center;
}

header a {
    color: var(--headerText);
    text-decoration: none;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: var(--background);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.role-links {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.role-links a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#PunishGuide {
    text-align: center;
}

#PunishGuide a {
    text-decoration: none;
    color: #c54c4c;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #e6e1e1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.role-links a:hover {
    background-color: #e0e0e0;
}

.role-links #Helper {
    color: var(--helper);
}

.role-links #Moderator {
    color: var(--moderator);
}

.role-links #HeadModerator {
    color: var(--moderator);
}

.role-links #Administrator {
    color: var(--administrator);
}




#InstaLinks {
    display: flex;
    justify-content: space-around;
}

#InstaLinks #ServerRules,
#InstaLinks #DiscordRules {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#InstaLinks a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#perms {
    display: flex;
    flex-direction: column;
    gap: 1px;
    width: 500px;
}

#perms a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#perms a:hover {
    background-color: #e0e0e0;
}


#InstaLinks a:hover {
    background-color: #e0e0e0;
}

#punishment-details h2 {
    margin-top: 40px;
    font-size: 1.5em;
}

#punishment-details p {
    margin: 10px 0;
}

#punishment-details ul {
    list-style-type: square;
    margin-left: 20px;
}

.area-rules {
    text-align: center;
    padding-top: 30px;
}

/* Remove the background, padding, and radius for the Server Rules and Discord Rules headings */
#InstaLinks #ServerRules h1,
#InstaLinks #DiscordRules h1 {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    color: black;
}

#page-wrapper {
    position: relative;
    min-height: 100vh;
  }

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

footer p {
    margin: 5px 0;
}
